In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error as mae

In [2]:
df = pd.read_csv("train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
features = []
col_list = df.columns.tolist()
for i in col_list:
    if df[i].dtype!="object":
        features.append(i)
features.pop(0)

'Id'

In [4]:
train_y = df.SalePrice[:-30]
test_y = df.SalePrice[-30:]
train_X = df[features][:-30]
test_X = df[features][-30:]

In [ ]:
mymodel = DecisionTreeRegressor(max_leaf_nodes=400 ,random_state=1)
mymodel.fit(train_X, train_y)
mypredict=mymodel.predict(test_X)
print("predictions: \n", mypredict)

predictions:
 [192000.         144004.33333333  66833.33333333 185916.66666667
 160003.21428571 174500.         120500.         394432.
 149450.         197000.         191000.         149450.
 310000.         120500.         179368.         128983.33333333
 157985.71428571 239983.33333333 112000.          91433.33333333
 135922.         290000.         144992.85714286  83750.
 184968.18181818 174988.88888889 209900.         265969.75
 141900.         147018.18181818]

In [19]:
print(mae(mypredict, test_y))

364.73563011063135

In [7]:
n_leaves = mymodel.tree_.n_leaves
print(f"Number of leaf nodes: {n_leaves}")

Number of leaf nodes: 400